* {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background: #668663;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  border-radius: 10px;
  background: #668663;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav img {
  width: 70%;
  display: block;
  margin-bottom: 35px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 0.9em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
nav a:hover {
  color: #fff;
}
.logo-icon  {
  position: absolute;
  width: 59px;
  height: 59px;
  left: 34px;
  top: 28px;
}
.logo-brand {
  position: absolute;
  width: 149px;
  height: 30px;
  left: 107px;
  top: 41px;
}
.logo-brand__name {
  position: absolute;
  width: 149px;
  height: 12px;
  bottom: 0px;
  right: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
} 
 li::marker {
  color: #668663;
}
.logo-brand__description {
  position: absolute;
  width: 149px;
  height: 12px;
  right: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  text-align: left;

  color: #FFFFFF;
}
.home {
  position: absolute;
  width: 27px;
  height: 28px;
  top: 11px;
  left: 16px;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  
  text-align: center;

  color: #435F40;
}
.control {
position: absolute;
width: 24px;
height: 28px;
left: 18px;
top: 11px;
font-family: Font Awesome 5 Free;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
/* identical to box height */

text-align: center;

color: #F3DBC7;
}
.giraffes {
  position: absolute;
  width: 24px;
  height: 28px;
  left: 18px;
  top: 11px;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  text-align: center;

  color: #435F40;
}
.giraffes:hover {
  background: #fff;
  color: #435F40;
}
.workers {
  position: absolute;
  width: 30px;
  height: 28px;
  left: 15px;
  top: 11px;  
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  
  text-align: center;
  
  color: #F3DBC7;
}
.settings {
  position: absolute;
  width: 24px;
  height: 28px;
  top: 12px;
  left: 18px;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  
  text-align: center;
  
  color: #F3DBC7;
}
.support {
  position: absolute;
  width: 24px;
  height: 28px;
  top: 12px;
  left: 18px;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  
  text-align: center;
  
  color: #F3DBC7;
}
.nav-icon__block_first {
  position: absolute;
  width: 237px;
  height: 51px;
  top: 142px;
  left: 32px;
  background: #567354;
  border-radius: 52px;  
}

.nav-icon__block_second {
  position: absolute;
  width: 237px;
  height: 51px;
  left: 32px;
  top: 213px;
  
  background: #567354;
  border-radius: 52px;
}
.nav-icon__block_third {
  position: absolute;
  width: 237px;
  height: 51px;
  left: 32px;
  top: 294px;
  
  background: #567354;
  border-radius: 52px;
}
.nav-icon__block_fourth {
  position: absolute;
  width: 237px;
  height: 51px;
  left: 32px;
  top: 374px;
  
  background: #567354;
  border-radius: 52px;
}
.nav-icon__block_fifth {
  position: absolute;
  width: 237px;
  height: 51px;
  left: 32px;
  top: 451px;
  
  background: #567354;
  border-radius: 52px;
}
.nav-icon__block_sixth {
  position: absolute;
  width: 237px;
  height: 51px;
  left: 32px;
  top: 528px;
  
  background: #567354;
  border-radius: 52px;
}
.nav-icon__description_first {
  position: absolute;
  width: 64px;
  height: 20px;
  left: 68px;
  bottom: -12px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  
  text-align: center;
  
  color: #FFFFFF;
}
.nav-icon__description_second { 
  position: absolute;
  width: 94px;
  height: 20px;
  left: 69px;
  top: -14px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  
  text-align: center;
  
  color: #FFFFFF;
}
.nav-icon__description_third { 
  position: absolute;
  width: 80px;
  height: 22px;
  left: 71px;
  top: -14px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  
  color: #fff;
}
.nav-icon__description_fourth { 
  position: absolute;
  width: 93px;
  height: 20px;
  left: 70px;
  top: -14px;  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  
  text-align: center;
  
  color: #FFFFFF;
}
.nav-icon__description_fifth { 
  position: absolute;
  width: 85px;
  height: 20px;
  left: 70px;
  top: -14px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  
  text-align: center;
  
  color: #FFFFFF;
}
.nav-icon__description_sixth { 
  position: absolute;
  width: 90px;
  height: 20px;
  left: 69px;
  top: -14px;

  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  
  text-align: center;
  
  color: #FFFFFF;
} 
.giraffe {
  position: absolute;
  width: 1603px;
  height: 876px;
  left: 294px;
  top: 12px;
  
  background: #FFFFFF;
  border-radius: 25px;
}
.profile-email__name {
position: absolute;
width: 128px;
height: 19px;
top: 30px;
right: 53px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

text-align: center;

color: #484848;
}
.aviary-number {
  position: absolute;
  width: 67px;
  height: 19px;
  right: 1470px;
  top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  
  text-align: center;
  
  color: #484848;
}
.divide {
position: absolute;
width: 1485px;
height: 3px;
left: 65px;
top: 85px;
background-size: cover;
background: #D9D9D9;
border-radius: 18px;
}
.user-logo {
width: 34px;
height: 34px;
position: absolute;
left: 86.17%;
right: 13.47%;
top: 5.22%;
bottom: 93%;
}
.ring {
position: absolute;
width: 21px;
height: 28px;
left: 1330px;
top: 50px;

text-align: center;

color: #567354;
}
.ring:hover {
  opacity: 0.8;
  color: #d81818;
}
.special-divide {
position: absolute;
width: 67px;
height: 3px;
left: 65px;
top: 85px;
z-index: 1;
background: #567354;
border-radius: 18px;
}

.fullness {
position: absolute;
width: 506px;
height: 217px;
left: 1050px;
top: 743px;

background: #668663;
border-radius: 28px;
}

.percent-itog {
position: absolute;
width: 106px;
height: 79px;
bottom: 42px;
left: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 59px;
text-align: center;

color: #fff;
}
.percent_description {
position: absolute;
width: 196px;
height: 23px;
top: 42px;
left: 145px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #fff;
}
.range {
width: 323px;
height: 31px;
margin-top: 88px;
margin-left: 29px;
background: #435F40;
border-radius: 35px;
}
.range-percent {
position: absolute;
width: 237.62px;
height: 22.55px;
margin-top: 4.23px;
margin-left: 5.14px;
background: #F3DBC7;
border-radius: 35px;
}

.info {
width: 110px;
height: 31px;
margin-left: 375px;
margin-top: -50px;
background: #435F40;
border-radius: 35px;
}
.information {
  width: 74px;
  height: 14px;
  padding-top: 9px;
  padding-left: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF ;
}
/* giraffe card */
.giraffe-profile__logo {
  width: 150px;
  height: 150px;
  margin-left: 45px;
  margin-top: 20px;
}
.giraffe-profile__name {
  margin-top: 16px;
  margin-left: 66px;
  font-size: 22px;
  line-height: 26px;
}
.card {
width: 236px;
height: 495px;
margin-top: 160px;
margin-left: 51px;
background: #F3DBC7;
border-radius: 28px;
}
.param {
width: 25px;
height: 25px;
margin-left: 40px;
text-align: center;
color: #435F40;
}
.edit-block {
position: absolute;
margin-left: 187px;
width: 174px;
height: 94px;
background: #668663;
border-radius: 20px;
}
.edit-block__change{
width: 151px;
height: 32px;
margin-top: 5px;

}
.edit-block__change:hover {
  background: #567354;
  border-radius: 52px;
}
.edit-block__delete {
width: 151px;
height: 32px;
margin-top: 15px;
}
.edit-block__delete:hover {
  background: #567354;
  border-radius: 52px;
  margin-top: 5px;
  margin-left: 5px;
  width: 151px;
height: 32px;
}
.pen {
  margin-left: 23px;
  margin-top: 15px;
}

.trash {
  margin-left: 23px;
  margin-top: 5px;
}
.set-edit {
  bottom: 40px;
  margin-top: -20px;
  margin-left: 50px;
  color:#fff;
  font-weight: 100;
  text-align: center;
}
.set-delete {
  margin-top: -30px;
  margin-left: 30px;
  color:#fff;
  font-weight: 100;
  text-align: center;
}

.edit {
margin-left: 195px;
}